{% extends "layout.html" %}
{% block content %}
<div class="account-container">
  <h2 style="text-align: center;">Account Information</h2>
  <div class="user-info">
      <p><strong>Name:</strong> {{ current_user.username }}</p>
      <p><strong>Email:</strong> {{ current_user.email }}</p>
  </div>
  <br>

  <form method="POST">
      {{ form.hidden_tag() }} 
      <h3 style="text-align: center;">Update Account</h3>
      
      <!-- Username Field -->
      <div>
          <label for="username">Username</label>
          {{ form.username(class="form-control", placeholder="Enter new username") }}
          {% if form.username.errors %}
              <ul class="errors">
                  {% for error in form.username.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>

      <!-- Email Field -->
      <div>
          <label for="email">Email</label>
          {{ form.email(class="form-control", placeholder="Enter new email") }}
          {% if form.email.errors %}
              <ul class="errors">
                  {% for error in form.email.errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
              </ul>
          {% endif %}
      </div>

      <button type="submit" class="button">Update</button>
  </form>
</div>
{% endblock content %}
